<div class="container mt-5" style="max-width: 420px;">

    <h3 class="mb-4">Login</h3>

    <!-- API Error -->
    <div *ngIf="apiError" class="alert alert-danger">
        {{ apiError }}
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>

        <!-- Email -->
        <div class="mb-3">

            <label class="form-label">Email</label>

            <input type="email"
                   class="form-control"
                   formControlName="email">

            <div class="text-danger"
                 *ngIf="email.touched && email.errors">

                <div *ngIf="email.errors['required']">
                    Email cannot be empty.
                </div>

                <div *ngIf="email.errors['email']">
                    Invalid email address.
                </div>

            </div>

        </div>


        <!-- Password -->
        <div class="mb-3">

            <label class="form-label">Password</label>

            <input type="password"
                   class="form-control"
                   formControlName="password">

            <div class="text-danger"
                 *ngIf="password.touched && password.errors">

                <div *ngIf="password.errors['required']">
                    Password cannot be empty.
                </div>

                <div *ngIf="password.errors['minlength']">
                    Password must be have at least 6 characters.
                </div>

            </div>

        </div>

        <button class="btn btn-primary w-100">
            Login
        </button>

    </form>

</div>
